@font-face {
  font-family: AlbertSans;
  src: url('../fonts/AlbertSans-ExtraBold.ttf');
}

@font-face {
  font-family: NunitoSans;
  src: url('../fonts/NunitoSans_7pt_Condensed-Bold.ttf');
}

@font-face {
  font-family: NunitoSansRegular;
  src: url('../fonts/NunitoSans_7pt_Condensed-Regular.ttf');
}

@font-face {
  font-family: Niconne;
  src: url('../fonts/Niconne-Regular.ttf');
}



.main {
  position: relative;
  max-width: 320px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 8px;
  box-sizing: border-box;
}

.body {
  background-color: #1F002B;
  margin: 0;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: 6px;
  /* Ширина полосы прокрутки */
  scrollbar-color: #ccc #f1f1f1;
}

/* Стилизация ползунка */
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  /* Цвет ползунка */
  border-radius: 4px;
  /* Скругление углов ползунка */
}

/* Стилизация трека (основания ползунка) */
::-webkit-scrollbar-track {
  opacity: 0;
}